In [1]:
import pandas as pd

In [2]:
authors_df = pd.read_csv('authors2018')

In [3]:
authors_df.shape

(893, 5)

In [4]:
authors_df.head(20)

       Surname         Name Nationality Student   Male
0        Hardy        L.~K.         NaN     NaN    NaN
1     Bouwhuis        M.~C.           A   False   True
2   Littlefair        S.~P.          UK   False   True
3       Kreter           M.          DE   False   True
4      Buckley     D.~A.~H.           A   False   True
5      Ridolfi           A.          DE   False   True
6   Sokolowski           M.          PL   False   True
7      Trovato           A.           I   False   True
8       Forbes        D.~A.           A   False   True
9       Rumsey           C.          UK   False  False
10    Acernese           F.          IT   False   True
11        Cohn  Jonathan H.           I   False   True
12      Sadler        E.~M.           A   False  False
13      Perley        D. A.          US   False   True
14     Wiseman           P.          UK   False   True
15       Gruen           D.           I   False   True
16       Eberl           T.           I   False   True
17   Hofestadt           J.          DE   False   True
18        Domi           A.         NaN     NaN    NaN
19   Kiessling           D.           I     NaN    NaN

In [5]:
authors_df.describe

<bound method NDFrame.describe of              Surname         Name Nationality Student   Male
0              Hardy        L.~K.         NaN     NaN    NaN
1           Bouwhuis        M.~C.           A   False   True
2         Littlefair        S.~P.          UK   False   True
3             Kreter           M.          DE   False   True
4            Buckley     D.~A.~H.           A   False   True
5            Ridolfi           A.          DE   False   True
6         Sokolowski           M.          PL   False   True
7            Trovato           A.           I   False   True
8             Forbes        D.~A.           A   False   True
9             Rumsey           C.          UK   False  False
10          Acernese           F.          IT   False   True
11              Cohn  Jonathan H.           I   False   True
12            Sadler        E.~M.           A   False  False
13            Perley        D. A.          US   False   True
14           Wiseman           P.          UK   False   True
15             Gruen           D.           I   False   True
16             Eberl           T.           I   False   True
17         Hofestadt           J.          DE   False   True
18              Domi           A.         NaN     NaN    NaN
19         Kiessling           D.           I     NaN    NaN
20      Blagorodnova          N.           US   False  False
21        Enzenhofer           A.           I     NaN    NaN
22       Kreykenbohm           I.          UK   False   True
23           Bolejko           K.           A   False   True
24            Lupton        R.~H.          US   False   True
25            Wilson        R.~W.          US   False   True
26             Crisp           H.           I   False   True
27          Bromberg           O.          IL   False   True
28            Dodson           R.           A   False    NaN
29              Dent     W.~R.~F.          UK   False    NaN
..               ...          ...         ...     ...    ...
863            Bassa           C.           I    True    NaN
864            Madau           P.           I   False    NaN
865          Farrell        T.~J.         NaN     NaN    NaN
866        Brandeker           A.         NaN     NaN    NaN
867            Jiang        J.-a.         NaN     NaN    NaN
868         da Cunha          E.          NaN     NaN    NaN
869          Gronnow           A.         NaN     NaN    NaN
870       Pastorello           N.           A    True    NaN
871       Coniglione           R.         NaN     NaN    NaN
872        Salvadori           I.         NaN     NaN    NaN
873            Oesch       P.~A.          NaN     NaN    NaN
874          Kotuv s       S.~M.          NaN     NaN    NaN
875           Juhasz           A.         NaN     NaN    NaN
876            Croom        S.~M.           A   False    NaN
877  Seyedmahmoudian           M.         NaN     NaN    NaN
878           Booler           T.         NaN     NaN    NaN
879        Broussard           A.           I   False    NaN
880            Bower          R.          NaN     NaN    NaN
881            Lynch           C.         NaN     NaN    NaN
882        Samtleben     D.~F.~E.         NaN     NaN    NaN
883             Lima           M.         NaN   False    NaN
884    Carrasco Kind           M.           I   False    NaN
885        Cantiello           M.         NaN     NaN    NaN
886          Franzen           T.         NaN     NaN    NaN
887          Coccato           L.           I   False    NaN
888          Bessell        M.~S.         NaN     NaN    NaN
889          Gilbank           D.         NaN     NaN    NaN
890        Carretero           J.           I   False    NaN
891      Nanayakkara           T.           A    True    NaN
892             Doel           P.         NaN   False    NaN

[893 rows x 5 columns]>

In [6]:
authors_df[pd.isna(authors_df.Nationality)]

               Surname           Name Nationality Student Male
0                Hardy          L.~K.         NaN     NaN  NaN
18                Domi             A.         NaN     NaN  NaN
38            Scarpine             V.         NaN   False  NaN
72             Khayati          N.~E.         NaN     NaN  NaN
79                 Ali            K.          NaN     NaN  NaN
89              Orange          N.~B.         NaN     NaN  NaN
90          Bojaddaini          I.~E.         NaN     NaN  NaN
95   Federico Frascoli                        NaN     NaN  NaN
100           Kochanek          C.~S.         NaN     NaN  NaN
110               Zhou             J.         NaN     NaN  NaN
111           Hallmann             S.         NaN     NaN  NaN
112           Vaisanen             P.         NaN     NaN  NaN
115              White         H.~A.          NaN     NaN  NaN
116      Pv avv alac s          G.~E.         NaN     NaN  NaN
117            Donzaud             C.         NaN     NaN  NaN
125             Emrich             D.         NaN     NaN  NaN
132   Kate H. R. Rubin                        NaN   False  NaN
133            Duv ska             M.         NaN     NaN  NaN
134              Hales             A.         NaN     NaN  NaN
135               Shao             L.         NaN     NaN  NaN
138           Acharyya             A.         NaN     NaN  NaN
148             Aubert          J.-J.         NaN     NaN  NaN
151           Tayalati             Y.         NaN     NaN  NaN
152    Riemer-Sorensen            S.          NaN     NaN  NaN
155            Laporte             N.         NaN     NaN  NaN
156               Adya          V.~B.         NaN     NaN  NaN
157          Maccarone          T.~J.         NaN     NaN  NaN
159            Pradier             T.         NaN     NaN  NaN
161           Leontini      Justin S.         NaN     NaN  NaN
162             Moussa             A.         NaN     NaN  NaN
..                 ...            ...         ...     ...  ...
849            Salcido             J.         NaN     NaN  NaN
850              Klotz             A.         NaN     NaN  NaN
851             Prasad  Krishnamurthy         NaN     NaN  NaN
853             Gordon             Y.         NaN     NaN  NaN
856            Cortese            L.          NaN     NaN  NaN
857          Bellstedt            S.          NaN     NaN  NaN
859           H. L. Vu                        NaN     NaN  NaN
861             Guerou             A.         NaN     NaN  NaN
862         Pellegrino             C.         NaN     NaN  NaN
865            Farrell          T.~J.         NaN     NaN  NaN
866          Brandeker             A.         NaN     NaN  NaN
867              Jiang          J.-a.         NaN     NaN  NaN
868           da Cunha            E.          NaN     NaN  NaN
869            Gronnow             A.         NaN     NaN  NaN
871         Coniglione             R.         NaN     NaN  NaN
872          Salvadori             I.         NaN     NaN  NaN
873              Oesch         P.~A.          NaN     NaN  NaN
874            Kotuv s         S.~M.          NaN     NaN  NaN
875             Juhasz             A.         NaN     NaN  NaN
877    Seyedmahmoudian             M.         NaN     NaN  NaN
878             Booler             T.         NaN     NaN  NaN
880              Bower            R.          NaN     NaN  NaN
881              Lynch             C.         NaN     NaN  NaN
882          Samtleben       D.~F.~E.         NaN     NaN  NaN
883               Lima             M.         NaN   False  NaN
885          Cantiello             M.         NaN     NaN  NaN
886            Franzen             T.         NaN     NaN  NaN
888            Bessell          M.~S.         NaN     NaN  NaN
889            Gilbank             D.         NaN     NaN  NaN
892               Doel             P.         NaN   False  NaN

[519 rows x 5 columns]

In [7]:
authors_df[(authors_df.Nationality == 'A') & (authors_df.Student == True)]

         Surname   Name Nationality Student   Male
30           Qiu  Siyao           A    True  False
43         Barat    D.            A    True   True
56       Pointon  S.~K.           A    True  False
77         Caleb     M.           A    True    NaN
205         Pota     V.           A    True    NaN
275    Jankowski     F.           A    True    NaN
284      Petroff     E.           A    True    NaN
327    Hutchison  M.~A.           A    True    NaN
358       Curtin     C.           A    True    NaN
394     Bekiaris     G.           A    True    NaN
446        Denes     H.           A    True    NaN
450        Allen     R.           A    True    NaN
461     Andreoni     I.           A    True    NaN
468        Jones     H.           A    True    NaN
469         Ravi     V.           A    True    NaN
486          Zhu  X.-J.           A    True    NaN
522     Bhandari     S.           A    True    NaN
543     Krishnan  V.~V.           A    True    NaN
607         Wong  O.~I.           A    True    NaN
608         Wong  O.~I.           A    True    NaN
615       Jacobs  D.~C.           A    True    NaN
641      Johnson     A.           A    True    NaN
647   Bainbridge  M.~B.           A    True    NaN
669          Dai     S.           A    True    NaN
676        Usher     C.           A    True    NaN
748      Shannon  R.~M.           A    True    NaN
860       Kartha  S.~S.           A    True    NaN
870   Pastorello     N.           A    True    NaN
891  Nanayakkara     T.           A    True    NaN

In [8]:
# Pota
authors_df.iloc[205].Student = False

In [9]:
authors_df.iloc[205]

Surname         Pota
Name              V.
Nationality        A
Student        False
Male             NaN
Name: 205, dtype: object

In [10]:
# Petroff
authors_df.iloc[284].Student = False
authors_df.iloc[284].Male = False

In [11]:
# Huchison
authors_df.iloc[327].Student = False
authors_df.iloc[327].Male = True

In [12]:
#Duplicate 'Wong'
#authors_df.drop(index=608,inplace=True)

In [13]:
#George Bekiaris
authors_df.iloc[394].Student = False
authors_df.iloc[394].Male = True

In [14]:
# Helga Denes
authors_df.iloc[446].Student = False
authors_df.iloc[446].Male = False

In [16]:
# Rebecca Allen
authors_df.iloc[450].Student = False
authors_df.iloc[450].Male = False

In [17]:
# Andreoni
authors_df.iloc[461].Male = True

In [18]:
# David Heath Jones
authors_df.iloc[468].Student = False
authors_df.iloc[468].Male = True

In [19]:
# Vikram Ravi
authors_df.iloc[469].Student = False
authors_df.iloc[469].Male = True

In [20]:
# Krishnan
authors_df.iloc[543].Male = True

In [21]:
# Oiwei (Ivy) Wong
authors_df.iloc[607].Student = False
authors_df.iloc[607].Male = False

In [22]:
# Daniel C. Jacobs
authors_df.iloc[615].Student = False
authors_df.iloc[615].Male = True

In [23]:
# Daniel C. Jacobs
authors_df.iloc[615].Student = False
authors_df.iloc[615].Male = True

In [24]:
# Andrew Austin Johnson
authors_df.iloc[641].Student = False
authors_df.iloc[641].Male = True

In [25]:
# Matthew B. Bainbridge
authors_df.iloc[647].Student = False
authors_df.iloc[647].Male = True

In [26]:
# Shou-Huang Dai
authors_df.iloc[669].Student = False
authors_df.iloc[669].Male = True

In [27]:
# Christopher Usher
authors_df.iloc[676].Student = False
authors_df.iloc[676].Male = True

In [28]:
# Ryan M. Shannon
authors_df.iloc[748].Student = False
authors_df.iloc[748].Male = True

In [29]:
# Sreeja S. Kartha
authors_df.iloc[860].Student = False
authors_df.iloc[860].Male = False

In [30]:
# Nicola Pastorello
authors_df.iloc[870].Student = False
authors_df.iloc[870].Male = True

In [31]:
# Nanayakkara, Themiya
authors_df.iloc[891].Student = False
authors_df.iloc[891].Male = True

In [34]:
authors_df.to_csv('authors_2018_1',columns=['Surname','Name','Nationality','Student','Male'])

In [36]:
authors_df[authors_df.Nationality.isna() != True]

            Surname         Name Nationality Student   Male
1          Bouwhuis        M.~C.           A   False   True
2        Littlefair        S.~P.          UK   False   True
3            Kreter           M.          DE   False   True
4           Buckley     D.~A.~H.           A   False   True
5           Ridolfi           A.          DE   False   True
6        Sokolowski           M.          PL   False   True
7           Trovato           A.           I   False   True
8            Forbes        D.~A.           A   False   True
9            Rumsey           C.          UK   False  False
10         Acernese           F.          IT   False   True
11             Cohn  Jonathan H.           I   False   True
12           Sadler        E.~M.           A   False  False
13           Perley        D. A.          US   False   True
14          Wiseman           P.          UK   False   True
15            Gruen           D.           I   False   True
16            Eberl           T.           I   False   True
17        Hofestadt           J.          DE   False   True
19        Kiessling           D.           I     NaN    NaN
20     Blagorodnova          N.           US   False  False
21       Enzenhofer           A.           I     NaN    NaN
22      Kreykenbohm           I.          UK   False   True
23          Bolejko           K.           A   False   True
24           Lupton        R.~H.          US   False   True
25           Wilson        R.~W.          US   False   True
26            Crisp           H.           I   False   True
27         Bromberg           O.          IL   False   True
28           Dodson           R.           A   False    NaN
29             Dent     W.~R.~F.          UK   False    NaN
30              Qiu        Siyao           A    True  False
31           Freire     P.~C.~C.           I   False   True
..              ...          ...         ...     ...    ...
802            Yuan           F.           A   False    NaN
804      Romanowsky        A.~J.           I   False    NaN
805        Kocevski           D.           I   False    NaN
808       Prochaska        J.~X.           I   False    NaN
809        Johnston           S.           A   False    NaN
810           Mould           J.           A   False    NaN
812          Yasuda           N.           I   False    NaN
816      Ryan-Weber        E.~V.           A   False    NaN
820      Mickaliger           M.           I   False    NaN
827            Amon           A.           I    True    NaN
833         Hopkins        A.~M.           A   False    NaN
834           Davis           C.           A   False    NaN
835           Davis           C.           A   False    NaN
840          Totani           T.           I   False    NaN
842         Beutler           F.           I   False    NaN
843         Carollo        C.~M.           I    True    NaN
852  Carnero Rosell           A.           I   False    NaN
854             Wen           L.           A   False    NaN
855            Sako           M.           I   False    NaN
858           Cunha        C.~E.           A   False    NaN
860          Kartha        S.~S.           A   False  False
863           Bassa           C.           I    True    NaN
864           Madau           P.           I   False    NaN
870      Pastorello           N.           A   False   True
876           Croom        S.~M.           A   False    NaN
879       Broussard           A.           I   False    NaN
884   Carrasco Kind           M.           I   False    NaN
887         Coccato           L.           I   False    NaN
890       Carretero           J.           I   False    NaN
891     Nanayakkara           T.           A   False   True

[374 rows x 5 columns]

In [37]:
authors_df[authors_df.Nationality == 'A']

             Surname        Name Nationality Student   Male
1           Bouwhuis       M.~C.           A   False   True
4            Buckley    D.~A.~H.           A   False   True
8             Forbes       D.~A.           A   False   True
12            Sadler       E.~M.           A   False  False
23           Bolejko          K.           A   False   True
28            Dodson          R.           A   False    NaN
30               Qiu       Siyao           A    True  False
43             Barat         D.            A    True   True
44             Uddin          S.           A   False   True
47         Filipovic       M.~D.           A   False    NaN
48        Koribalski       B.~S.           A   False    NaN
56           Pointon       S.~K.           A    True  False
60             Panda       Manoj           A   False   True
62              Barr       E.~D.           A   False    NaN
70          Thompson     Mark C.           A   False   True
77             Caleb          M.           A    True    NaN
85             Moser          I.           A   False  False
91             Alabi       A.~B.           A   False   True
97              Lenc          E.           A   False    NaN
101           Tucker          D.           A   False   True
118          Wurster          J.           A   False    NaN
121           Fisher       D.~B.           A   False    NaN
122         Griffith  Martin D.            A   False   True
130            Couch       W.~J.           A   False    NaN
131           Kewley       L.~J.           A   False    NaN
137           Cowley       M.~J.           A   False    NaN
142            Green       A.~J.           A   False    NaN
143         McDermid      R.~M.            A   False   True
146          Tescari         E.            A   False   True
149          Stevens    A.~R.~H.           A   False   True
..               ...         ...         ...     ...    ...
686         Kacprzak       G.~G.           A   False    NaN
694          Joudaki          S.           A   False    NaN
719            James       D.~J.           A   False    NaN
720            James       D.~J.           A   False    NaN
730            Hobbs          G.           A   False    NaN
736          Schmidt       B.~P.           A   False    NaN
747            Lewis       G.~F.           A   False    NaN
748          Shannon       R.~M.           A   False   True
751             Hill       G.~C.           A   False    NaN
754  Campbell-Wilson          D.           A   False    NaN
762           Brough          S.           A   False    NaN
764       Obreschkow          D.           A   False    NaN
772            Sharp          R.           A   False    NaN
781          Colless          M.           A   False    NaN
790            Wayth          R.           A   False    NaN
794      van Straten          W.           A   False    NaN
797           Lidman          C.           A   False    NaN
802             Yuan          F.           A   False    NaN
809         Johnston          S.           A   False    NaN
810            Mould          J.           A   False    NaN
816       Ryan-Weber       E.~V.           A   False    NaN
833          Hopkins       A.~M.           A   False    NaN
834            Davis          C.           A   False    NaN
835            Davis          C.           A   False    NaN
854              Wen          L.           A   False    NaN
858            Cunha       C.~E.           A   False    NaN
860           Kartha       S.~S.           A   False  False
870       Pastorello          N.           A   False   True
876            Croom       S.~M.           A   False    NaN
891      Nanayakkara          T.           A   False   True

[141 rows x 5 columns]

In [49]:
authors_df[((authors_df.Nationality != 'A') & (authors_df.Nationality.isna() != True))]

            Surname         Name Nationality Student   Male
2        Littlefair        S.~P.          UK   False   True
3            Kreter           M.          DE   False   True
5           Ridolfi           A.          DE   False   True
6        Sokolowski           M.          PL   False   True
7           Trovato           A.           I   False   True
9            Rumsey           C.          UK   False  False
10         Acernese           F.          IT   False   True
11             Cohn  Jonathan H.           I   False   True
13           Perley        D. A.          US   False   True
14          Wiseman           P.          UK   False   True
15            Gruen           D.           I   False   True
16            Eberl           T.           I   False   True
17        Hofestadt           J.          DE   False   True
19        Kiessling           D.           I     NaN    NaN
20     Blagorodnova          N.           US   False  False
21       Enzenhofer           A.           I     NaN    NaN
22      Kreykenbohm           I.          UK   False   True
24           Lupton        R.~H.          US   False   True
25           Wilson        R.~W.          US   False   True
26            Crisp           H.           I   False   True
27         Bromberg           O.          IL   False   True
29             Dent     W.~R.~F.          UK   False    NaN
31           Freire     P.~C.~C.           I   False   True
32            Baade          D.            I   False   True
33          Tomczak        A.~R.           I   False   True
34          Fosalba           P.           I   False   True
35          Coleiro           A.           I   False   True
36          Bilicki          M.           PL   False   True
37        Wisnioski           E.           I   False    NaN
39         Ferguson     A.~M.~N.           I   False    NaN
..              ...          ...         ...     ...    ...
708    Buckley-Geer           E.           I   False    NaN
711        Williams           A.           I   False    NaN
712        Williams           A.           I   False    NaN
725       Straatman     C.~M.~S.           I    True    NaN
727        Joachimi           B.           I   False    NaN
728        Possenti           A.           I   False    NaN
732          Quadri        R.~F.           I   False    NaN
760           Tilvi           V.           I   False    NaN
777            Lyne        A.~G.           I   False    NaN
783        Jennings        Z.~G.           I    True    NaN
785         Abdalla        F.~B.           I   False    NaN
787        Morrison        G.~E.           I   False    NaN
801           Labbe           I.           I    True    NaN
804      Romanowsky        A.~J.           I   False    NaN
805        Kocevski           D.           I   False    NaN
808       Prochaska        J.~X.           I   False    NaN
812          Yasuda           N.           I   False    NaN
820      Mickaliger           M.           I   False    NaN
827            Amon           A.           I    True    NaN
840          Totani           T.           I   False    NaN
842         Beutler           F.           I   False    NaN
843         Carollo        C.~M.           I    True    NaN
852  Carnero Rosell           A.           I   False    NaN
855            Sako           M.           I   False    NaN
863           Bassa           C.           I    True    NaN
864           Madau           P.           I   False    NaN
879       Broussard           A.           I   False    NaN
884   Carrasco Kind           M.           I   False    NaN
887         Coccato           L.           I   False    NaN
890       Carretero           J.           I   False    NaN

[233 rows x 5 columns]

In [50]:
authors_df[authors_df.Student.isna() != True]

            Surname         Name Nationality Student   Male
1          Bouwhuis        M.~C.           A   False   True
2        Littlefair        S.~P.          UK   False   True
3            Kreter           M.          DE   False   True
4           Buckley     D.~A.~H.           A   False   True
5           Ridolfi           A.          DE   False   True
6        Sokolowski           M.          PL   False   True
7           Trovato           A.           I   False   True
8            Forbes        D.~A.           A   False   True
9            Rumsey           C.          UK   False  False
10         Acernese           F.          IT   False   True
11             Cohn  Jonathan H.           I   False   True
12           Sadler        E.~M.           A   False  False
13           Perley        D. A.          US   False   True
14          Wiseman           P.          UK   False   True
15            Gruen           D.           I   False   True
16            Eberl           T.           I   False   True
17        Hofestadt           J.          DE   False   True
20     Blagorodnova          N.           US   False  False
22      Kreykenbohm           I.          UK   False   True
23          Bolejko           K.           A   False   True
24           Lupton        R.~H.          US   False   True
25           Wilson        R.~W.          US   False   True
26            Crisp           H.           I   False   True
27         Bromberg           O.          IL   False   True
28           Dodson           R.           A   False    NaN
29             Dent     W.~R.~F.          UK   False    NaN
30              Qiu        Siyao           A    True  False
31           Freire     P.~C.~C.           I   False   True
32            Baade          D.            I   False   True
33          Tomczak        A.~R.           I   False   True
..              ...          ...         ...     ...    ...
809        Johnston           S.           A   False    NaN
810           Mould           J.           A   False    NaN
812          Yasuda           N.           I   False    NaN
816      Ryan-Weber        E.~V.           A   False    NaN
820      Mickaliger           M.           I   False    NaN
827            Amon           A.           I    True    NaN
831         Frieman           J.         NaN   False    NaN
833         Hopkins        A.~M.           A   False    NaN
834           Davis           C.           A   False    NaN
835           Davis           C.           A   False    NaN
838           Zhang           B.         NaN   False    NaN
840          Totani           T.           I   False    NaN
842         Beutler           F.           I   False    NaN
843         Carollo        C.~M.           I    True    NaN
852  Carnero Rosell           A.           I   False    NaN
854             Wen           L.           A   False    NaN
855            Sako           M.           I   False    NaN
858           Cunha        C.~E.           A   False    NaN
860          Kartha        S.~S.           A   False  False
863           Bassa           C.           I    True    NaN
864           Madau           P.           I   False    NaN
870      Pastorello           N.           A   False   True
876           Croom        S.~M.           A   False    NaN
879       Broussard           A.           I   False    NaN
883            Lima           M.         NaN   False    NaN
884   Carrasco Kind           M.           I   False    NaN
887         Coccato           L.           I   False    NaN
890       Carretero           J.           I   False    NaN
891     Nanayakkara           T.           A   False   True
892            Doel           P.         NaN   False    NaN

[395 rows x 5 columns]

In [52]:
authors_df.Student.value_counts()

False    361
True      34
Name: Student, dtype: int64